h1 /*Título*/ {
  font-size: 3.5em;
  font-family: "Blackadder ITC";
  color: black;
}

#tabela /*Tabela*/ {
  border-collapse: collapse;
  background-color: #fff;
}

#tabela thead tr th /*Categorias*/ {
  padding: 5px;
  font-size: 1em;
  color: #020202;
  border-bottom: 1px solid #101010;
  font-family: Helvetica;
  border: 0px solid #dddddd;
  text-align: center;
}

/*#tabela th:nth-child(1) {
	background-image: linear-gradient(to right, #ff3e58, #7f7aa1);
}

#tabela th:nth-child(2)  {
	background-image: linear-gradient(to right, #7f7aa1, #00b6eb);
}

#tabela th:nth-child(3)  {
	background-image: linear-gradient(to right, #00b6eb, #7f7aa1);
}

#tabela th:nth-child(4)  {
	background-image: linear-gradient(to right, #7f7aa1, #ff3e58);
}

#tabela th:nth-child(5)  {
	background-image: linear-gradient(to right, #ff3e58, #7f7aa1);
} */

/*#tabela th:nth-child(even) Categorias {
	background-color: #00b6eb;
} */

/*#tabela th:nth-child(1) Categorias {
	background-image: linear-gradient(to right, #ff3e58, #7f7aa1);
} */

#tabela tr:nth-child(even) /*Linhas*/ {
  background-color: #f2f2f2;
}

#tabela tr:hover /*Cor Quando Passa O Mouse Por Cima*/ {
  background-color: #dddddd;
}

#tabela tr {
  border-bottom: 1px solid #101010;
}
#tabela td /*Detalhes*/ {
  text-align: center;
  font-size: 1em;
  color: black;
  padding: 5px;
  border: 0px solid #dddddd;
  /*border-radius: 15px;*/
  /*box-shadow: 10px 10px 10px #101010*/
}
